* {
    margin: 0;
    padding: 0;
}

body {
    overflow: visible;
}

#meuArmario {
    transition: 0.5s;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.itensNavbar {
    font-family: 'Mulish', sans-serif;
}

.slogan {
    margin: 0 auto;
    height: 200px;
    margin-top: 200px;
}

.slogan h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 60px;
}

.slogan h3 {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 40px;
}

.vantagemTitulo {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
}

.vantagemTexto {
    font-family: 'Mulish', sans-serif;
    text-align: justify;
    font-size: 20px;
}

.cadastro {
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
    /*border-radius: 25px;
    border: solid 5px rgb(71, 71, 71);*/
    transition: 0.5s;
    /*box-shadow: 0px 6px 20px rgb(00, 00, 00, 0.15);*/
    overflow: hidden;
}

.botaoCadastro {
    margin-left: 10px;
    width: 140px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    background-color: #DB0000; 
    color: white; 
    text-decoration: none;
}

.botaoCadastro:hover {
    width: 140px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    background-color: #DB0000; 
    color: white;
}

.cadastro h2 {
    font-family: 'Ubuntu', sans-serif;
}


.cadastro p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.login {
    margin: 0 auto;
    margin-top: 180px;
    width: 800px;
    height: 400px;
    text-align: center;
    /*border-radius: 25px;
    border: solid 5px rgb(71, 71, 71);*/
    transition: 0.5s;
    /*box-shadow: 0px 6px 20px rgb(00, 00, 00, 0.15);*/
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px;
}

.botaoLogin {
    margin-top: 100px;
    transition: 0.5s;
    width: 140px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
}

.login h2 {
    font-family: 'Ubuntu', sans-serif;
}

.login p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.cadastroForm {
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 100px;
    width: 800px;
    height: auto;
    padding: 50px !important;
    border-radius: 25px;
    text-align: center;
    /*border-radius: 25px;
    border: solid 5px rgb(71, 71, 71);*/
    transition: 0.5s;
    /*box-shadow: 0px 6px 20px rgb(00, 00, 00, 0.15);*/
    padding: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.cadastroForm h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.cadastroForm label {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}

.centro {
    margin: 0 auto;
}

.botaoCadastroForm {
    margin-top: 10px;
    transition: 0.5s;
    width: 80px;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
}

#form-container {
    margin-top: 180px !important;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 30px !important;
}

#form-container h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}

#form-container a {
    color: #DB0000;
    transition: 0.5s;
}

#form-container a:hover {
    color: rgb(51, 51, 51);
    transition: 0.5s;
}

#form-container form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container .form-floating label, #RMdescricao {
    color: #ccc;
}

#form-container .form-floating > .form-control:focus~label{
    color: #222;
}

#form-container .form-check-input:checked{
    background-color: #DB0000;
    border-color: #DB0000;
}

#form-container .btn {
    background-color: #DB0000;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.Armarios {
    margin-top: 180px;
}

.Armarios h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
}

.Armarios label {
    color: #ccc;
}

.Armarios:focus~label {
    color: #222;
}

.Armarios .btn {
    color: white;
    background-color:#DB0000;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    width: 100px;
}

#filtros {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

#homeAluno {
    margin-top: 180px;
}

#contaOpcoes {
    position: absolute; 
    top: 120px; 
    right: 2%;
    padding: 5px;
}

#contaOpcoes p {
    border-bottom: solid #ccc 1px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#contaOpcoes a {
    padding: 10px;
    cursor: pointer;
}

#contaOpcoes img {
    width: 10%;
    margin-right: 10px;
}

.cardArmarios {
    margin: 10px;
    width: 23%;
    cursor: pointer;
}

.cardArmarios a {
    text-decoration: none;
    color: black;
}

.ReservarArmario {
    margin-top: 180px;
    padding: 10px;
    margin-bottom: 80px;
}

.ReservarArmario h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.ReservarArmario h4 {
    font-family: 'Ubuntu', sans-serif;
}

.ReservarArmario p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

.ReservarArmario .btn {
    background-color: #DB0000;
    color: white;
    width: 200px;
    font-size: 20px;
    font-family: 'Mulish';
}

.ReservarArmario option, .ReservarArmario select {
    font-family: 'Mulish', sans-serif;
}

.EsqueciSenha {
    margin-top: 180px;
    padding: 10px;
}

.EsqueciSenha h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 30px;
}

.EsqueciSenha label {
    color: #ccc;
}

.EsqueciSenha .btn {
    width: 200px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    background-color: #DB0000; 
    color: white; 
    text-decoration: none;
}

.Motivos h2 {
    font-family: 'Ubuntu', sans-serif;
}

.Motivos p {
    font-family: 'Mulish', sans-serif;
}

.ConfirmarCadastroFuncionario {
    margin-top: 180px;
}

.ConfirmarCadastroFuncionario h2 {
    font-family: 'Ubuntu', sans-serif !important;
}

.ConfirmarCadastroFuncionario p {
    font-family: 'Mulish', sans-serif !important;
    font-size: 20px;
}